.content {
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
}
.avatar {
  display: inline-block;
  height: 35px;
  z-index: 1;
}
img {
  width: 35px;
  border-radius: 4px;
}
.messageContainer {
  display: inline-block;
  position: relative;
  background: aliceblue;
  padding: 10px;
  border-radius: 6px;
  min-width: 88px;
  max-width: 428px;
  font-size: 14px;
  margin: 0 15px;
}
.receivedMessage > .messageContainer:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -7px;
  bottom: 0;
  border: 6px solid;
  border-color: transparent aliceblue aliceblue transparent;
}
.sentMessage > .messageContainer:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -7px;
  bottom: 0;
  border: 6px solid;
  border-color: transparent transparent aliceblue aliceblue;
}
.name {
  font-weight: bold;
  margin-bottom: 5px;
}
.message {
  word-wrap: break-word;
}
.option {
  display: flex;
  justify-content: flex-start;
  opacity: 0.5;
  align-items: center;
  font-size: 12px;
  flex-direction: row-reverse;
  margin-top: 6px;
}
.option > span {
  margin-right: 10px;
  line-height: 10px;
}
.sentMessage {
  flex-direction: row-reverse;
}
.receivedMessage {
  flex-direction: unset;
}
.joinMessage {
  position: relative;
  margin: 20px 0;
  text-align: center;
}
.joinMessage > span {
  font-weight: bold;
}
i {
  opacity: 0.3;
  font-size: 17px;
}
i:hover {
  opacity: 0.7;
  cursor: pointer;
}